@model Tracker.Data.tbl_artisthistory

<link href="~/Content/Stylesheet/StyleSheet.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "AddToArtistHistory";
}

<h2>AddToArtistHistory</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>tbl_artisthistory</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.User_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User_ID, new { htmlAttributes = new { @Value = Request.QueryString["User_ID"].ToString(), @class = "form-control", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.User_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Event_ID, "Event_ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Event_ID, new { htmlAttributes = new { @Value = Convert.ToInt32(Request.QueryString["Event_ID"]), @class = "form-control", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.Event_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventLineup_ID, "EventLineup_ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventLineup_ID, new { htmlAttributes = new { @Value = Request.QueryString["EventLineup_ID"], @class = "form-control", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.EventLineup_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Artist_ID, "Artist_ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Artist_ID, new { htmlAttributes = new { @Value = Convert.ToInt32(Request.QueryString["Artist_ID"]), @class = "form-control", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.Artist_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

