@model IEnumerable<Tracker.Data.tbl_artists>

@{
    ViewBag.Title = "GetArtists";
}
<h2>Artists</h2>
<div class="body-content" id="artist-body">
    <div class="card" id="artist-index-filter-card">
        @for (char c = 'A'; c <= 'Z'; c++)
            {
            <a href="#@c"><h3>@c</h3></a> 
            <h3> / </h3>
            }
        <a href="#0-9"><h3>0-9</h3></a>
    </div>
    <div class="artist-index-body">


        @for (char c = 'A'; c <= 'Z'; c++)

            {
            <a name="@c"><h1>@c</h1></a>
            <div class="grid-container" id="artistgrid">
                @foreach (var item in Model.Where(i => i.Artist_Name.StartsWith(c.ToString())))
                    {
                    <a href="@Url.Action("GetArtistDetails", "Artist", new { Artist_ID = item.Artist_ID })">
                        <div class="grid-item" id="griditem">
                            @item.Artist_Name <br />
                        </div>
                    </a>
                    }
            </div>
            }
    </div>
</div>



<style>

</style>