@model IEnumerable<Tracker.Data.tbl_artists>

@{
    ViewBag.Title = "GetArtists";
}

<h2>GetArtists</h2>

<p>
    @Html.ActionLink("Create New", "NewArtist")
</p>

<div class="card">
    <input class="myInput" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for a Country.." title="Type in an Country" , name="myInput">
    <div class="card-body" id="search-card-body">
        <table class="table" id="myTable">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Artist_Name)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist_Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "../Artist/EditArtist", new { Artist_ID = item.Artist_ID }) |
                    @Html.ActionLink("Details", "GetArtistDetails", new { Artist_ID = item.Artist_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Artist_ID })
                </td>
            </tr>
            }
        </table>
    </div>
</div>

<script>
    function myFunction() { // Script found at https://www.w3schools.com/howto/howto_js_filter_table.asp
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0]
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {

                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>