@model IEnumerable<Tracker.Data.tbl_venues>

@{
    ViewBag.Title = "GetVenues";
}

<h2>GetVenues</h2>

<p>
    @Html.ActionLink("Create New", "CreateVenue")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.V_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.V_StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.V_City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.V_Postcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_cities.tbl_countries.C_Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.OrderBy(a => a.tbl_cities.tbl_countries.C_Name).ThenBy(b => b.V_City).ThenBy(c => c.V_Name))
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.V_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.V_StreetAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.V_City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.V_Postcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_cities.tbl_countries.C_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditVenue", new { Venue_ID = item.Venue_ID }) |
            @Html.ActionLink("Details", "GetVenueDetails", new { Venue_ID = item.Venue_ID }) |
            @Html.ActionLink("Delete", "DeleteVenue", new { Venue_ID = item.Venue_ID })
        </td>
    </tr>
    }
</table>