@using Microsoft.AspNet.Identity
@model IEnumerable<Tracker.Data.tbl_events>
<link href="~/Content/StyleSheet.css" rel="stylesheet" />

@{
    string action = Html.ViewContext.RouteData.Values["action"].ToString();
    string controller = Html.ViewContext.RouteData.Values["controller"].ToString();
    string url = "~/" + controller + "/" + action;
}
<body class="event-index-body-class">
    <div class="body-content">
        <div class="event-index-body" id="events-body-content">

            <div class="card" id="event-index-filter-card">
                <header class="filter-header" id="event-index-filter-header"><h3>Filter Options</h3></header>
                <div class="container" id="event-index-filter-body">
                    <div class="header" id="event-index-filter-label">
                        <h4>Event Name:</h4>
                    </div>
                    <div class="container" id="event-filter-options">
                        @Html.Editor("Event_Name", new { htmlAttributes = new { @class = "form-control", @id = "eventNameFilter", @placeholder = "Enter Event Name...", @onkeyup = "delayFilter()", @autocomplete = "off" } })
                    </div>

                    <div class="header" id="event-index-filter-label">
                        <h4>Select Country:</h4>
                    </div>
                    <div class="container" id="event-filter-options">
                        @Html.DropDownList("countries", new SelectList(ViewBag.CountriesWhereEvents, "Value", "Text"), "- Select A Country -", new { @class = "container", @id = "event-filter-country" })
                    </div>
                    <div class="header" id="event-index-filter-label">
                        <h4>Select City:</h4>
                    </div>
                    <div class="container" id="event-filter-options">
                        @Html.DropDownList("cities", Enumerable.Empty<SelectListItem>(), "- Select A City -", new { @class = "container", @id = "event-filter-city", @disabled = "true" })
                    </div>

                    <div class="header" id="event-index-filter-label">
                        <h4>Select Venue:</h4>
                    </div>
                    <div class="container" id="event-filter-options">
                        @Html.DropDownList("venues", Enumerable.Empty<SelectListItem>(), "- Select A Venue -", new { @class = "container", @id = "event-filter-venue", @disabled = "true" })
                    </div>
                    <div class="container" id="event-filter-options">
                        <h4>Start Date:</h4>
                    </div>
                    <div class="container" id="event-filter-options">
                        @Html.Editor("Start Date", new { htmlAttributes = new { @class = "form-control", @id = "startdatepicker", @placeholder = "Search From...", @autocomplete = "off" } })
                    </div>
                    <div class="container" id="event-filter-options">
                        <h4>End Date:</h4>
                    </div>
                    <div class="container" id="event-filter-options">
                        @Html.Editor("End Date", new { htmlAttributes = new { @class = "form-control", @id = "enddatepicker", @placeholder = "Search To...", @autocomplete = "off" } })
                    </div>
                    <br /><br />@*
                        <div class="header" id="event-index-filter-label">
                            <h4>Filter By Artists:</h4>
                        </div>
                        <div class="container" id="event-filter-options">
                            <input type="search" />
                        </div>
                        <div class="container" id="event-filter-artists">
                            <table id="event-filter-by-artist-display">
                                @*For (var item in viewbag.selectedArtists)* @
                                <tr>
                                    <td>◘</td>
                                    <td>Artist Name</td>
                                </tr>
                                <tr>
                                    <td>◘</td>
                                    <td>Artist Name</td>
                                </tr>
                                <tr>
                                    <td>◘</td>
                                    <td>Artist Name</td>
                                </tr>
                                <tr>
                                    <td>◘</td>
                                    <td>Artist Name</td>
                                </tr>
                                </table>
                            </div>*@
                    <button class="ui-button" onclick="clearFilter()">
                        Clear Filter
                    </button>
                </div>
            </div>
            <div class="card" id="user-event-card">
            </div>
        </div>
    </div>
</body>
<style>
</style>
@section Scripts {

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    @*Script modified from: https://stackoverflow.com/questions/41564427/how-to-refresh-html-dropdowngrouplist-after-another-dropdown-changes*@

    <script>

        function clearFilter() {

            $("#user-event-card").load("/Event/GetFilteredEvents");
            $("#enddatepicker").datepicker('setDate', null);
            $("#startdatepicker").datepicker("option", "maxDate", null);
            $("#startdatepicker").datepicker('setDate', null);
            $("#enddatepicker").datepicker("option", "minDate", null);
            $("#event-filter-country").get(0).selectedIndex = 0;
            $("#event-filter-city").get(0).selectedIndex = 0;
            $("#event-filter-venue").get(0).selectedIndex = 0;
            DisableDropDowns();
            hideDatepickerButtons();
        }
        function hideDatepickerButtons() {
            $(".ui-datepicker-trigger").css("visibility", "hidden");
        };

        function loadEvents() {
            $("#user-event-card").load("/Event/GetfilteredEvents");
        };


        document.addEventListener('readystatechange', () => {
            if (document.readyState == 'complete') loadEvents();
        });

        var typingTimer;                //timer identifier
        var doneTypingInterval = 400;  //time in ms
        var $input = document.getElementById("eventNameFilter");
        function delayFilter() {
            //setup before functions
            clearTimeout(typingTimer);
            if (typingTimer == doneTypingInterval) {
                typingTimer = setTimeout(filterByName, doneTypingInterval);
            } else {
                clearTimeout(typingTimer);
                typingTimer = setTimeout(filterByName, doneTypingInterval);
            }
        }

        function filterByName() {
            var input = document.getElementById("eventNameFilter");
            var eventName = input.value;
            var searchString = eventName.replace(/ /g, '**');
            var startDateObject = $('#startdatepicker').datepicker('getDate');
            var startDate = $.datepicker.formatDate('yy/mm/dd', startDateObject);
            var endDateObject = $('#enddatepicker').datepicker('getDate');
            var endDate = $.datepicker.formatDate('yy/mm/dd', endDateObject);
            var countryval = $("#event-filter-country option:selected").val(); //val is set to the text value of the dropdown.;
            var cityval = $("#event-filter-city option:selected").val(); //val is set to the text value of the dropdown.;
            var venueval = $("#event-filter-venue option:selected").val(); //val is set to the text value of the dropdown.;
            if (countryval == null) {
                $("#user-event-card").load("/Event/GetfilteredEvents?Event_Name=" + searchString + "&Event_Country=" + countryval + "&Search_Start_Date=" + startDate + "&Search_End_Date=" + endDate);
            }
            else {
                if (cityval == 0) {
                    $("#user-event-card").load("/Event/GetfilteredEvents?Event_Name=" + searchString + "&Event_Country=" + countryval + "&Search_Start_Date=" + startDate + "&Search_End_Date=" + endDate);
                } else {
                    if (cityval != 0) {
                        if (venueval == 0) {
                            $("#user-event-card").load("/Event/GetfilteredEvents?Event_Name=" + searchString + "&Event_Country=" + countryval + "&Event_City=" + cityval + "&Search_Start_Date=" + startDate + "&Search_End_Date=" + endDate);
                        } else {
                            $("#user-event-card").load("/Event/GetfilteredEvents?Event_Name=" + searchString + "&Event_Country=" + countryval + "&Event_City=" + cityval + "&Event_Venue=" + venueval + "&Search_Start_Date=" + startDate + "&Search_End_Date=" + endDate);
                        }
                    }
                }
            }
        }
    </script>

    <script>
        var cityModel = $('#event-filter-city'); // cache it
        var venueModel = $('#event-filter-venue'); // cache it
        $("#event-filter-country").change(function (e) { //On #event-filter-change.
            venueModel.empty(); // clear existing options
            cityModel.empty(); // clear existing options
            var CityOption = $('<option>- Select A City -</option>').attr('value', 0);
            var VenueOption = $('<option>- Select A Venue -</option>').attr('value', '0');
            cityModel.append(CityOption); //modify the model with the variable 'option' added.
            venueModel.append(VenueOption); //modify the model with the variable 'option' added.
            var countryval = $("#event-filter-country option:selected").val(); //val is set to the text value of the dropdown.;
            var startDateObject = $('#startdatepicker').datepicker('getDate');
            var startDate = $.datepicker.formatDate('yy/mm/dd', startDateObject);
            var endDateObject = $('#enddatepicker').datepicker('getDate');
            var endDate = $.datepicker.formatDate('yy/mm/dd', endDateObject);
            var input = document.getElementById("eventNameFilter");
            var searchString = input.value;
            $("#user-event-card").load("/Event/GetfilteredEvents?Event_Name=" + searchString + "&Event_Country=" + countryval + "&Search_Start_Date=" + startDate + "&Search_End_Date=" + endDate);
                var id = $(this).val(); //var id == set to dropdown selected item.
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetCities")', //calls ActionResult GetCities form Event Controller
                dataType: 'json',
                data: { id: id },
                success: function (data) {

                    $.each(data, function (val, city) { //on each row of data in the model, carry out a function
                        var CityOption = $('<option>' + city.Text + '</option>').attr('Value', city.Value); //populate a var named 'option' with the value of country.Country_Name
                        cityModel.append(CityOption); //modify the model with the variable 'option' added.
                    });
                }
            });
            });
    </script>
    <script>
            $("#event-filter-city").change(function (e) { //On #event-filter-city change.
                var startDateObject = $('#startdatepicker').datepicker('getDate');
                var startDate = $.datepicker.formatDate('yy/mm/dd', startDateObject);
                var endDateObject = $('#enddatepicker').datepicker('getDate');
                var endDate = $.datepicker.formatDate('yy/mm/dd', endDateObject);
                var cityval = $("#event-filter-city option:selected").val(); //val is set to the text value of the dropdown.;
                var countryval = $("#event-filter-country option:selected").val(); //val is set to the text value of the dropdown.;
                var input = document.getElementById("eventNameFilter");
                var searchString = input.value;
                venueModel.empty(); // clear existing options
                if (cityval != 0) {
                    $("#user-event-card").load("/Event/GetfilteredEvents?Event_Name=" + searchString + "&Event_Country=" + countryval + "&Event_City=" + cityval + "&Search_Start_Date=" + startDate + "&Search_End_Date=" + endDate);
                } else {
                $("#user-event-card").load("/Event/GetfilteredEvents?Event_Name=" + searchString + "&Event_Country=" + countryval + "&Event_City=" + "" + "&Search_Start_Date=" + startDate + "&Search_End_Date=" + endDate);
                }
                var id = $(this).val(); //var id == set to dropdown selected item.
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetVenues")', //calls ActionResult GetCities form Event Controller
                    dataType: 'json',
                    data: { id: id },
                    success: function (data) {
                        venueModel.empty(); // clear existing options
                        var VenueOption = $('<option>- Select A Venue -</option>').attr('value', '0');
                        venueModel.append(VenueOption); //modify the model with the variable 'option' added.
                        $.each(data, function (val, venue) { //on each row of data in the model, carry out a function
                            var VenueOption = $('<option>' + venue.V_Name + '</option>').attr('value', venue.V_Value).text(venue.text); //populate a var named 'option' with the value of country.Country_Name
                            venueModel.append(VenueOption); //modify the model with the variable 'option' added.
                        });
                    }
                });
            });
    </script>
    <script>
        $("#event-filter-venue").change(function (e) { //On #event-filter-venue change.
            var startDateObject = $('#startdatepicker').datepicker('getDate');
            var startDate = $.datepicker.formatDate('yy/mm/dd', startDateObject);
            var endDateObject = $('#enddatepicker').datepicker('getDate');
            var endDate = $.datepicker.formatDate('yy/mm/dd', endDateObject);
            var cityval = $("#event-filter-city option:selected").val(); //val is set to the text value of the dropdown.;

            var venueval = $("#event-filter-venue option:selected").val(); //val is set to the text value of the dropdown.;
            var input = document.getElementById("eventNameFilter");
            var searchString = input.value;
            if (venueval != 0) {
                $("#user-event-card").load("/Event/GetfilteredEvents?Event_Name=" + searchString + "&Event_Venue=" + venueval + "&Search_Start_Date=" + startDate + "&Search_End_Date=" + endDate);
            } else {
                $("#user-event-card").load("/Event/GetfilteredEvents?Event_Name=" + searchString + "&Event_City=" + cityval + "&Search_Start_Date=" + startDate + "&Search_End_Date=" + endDate);
            }
        });
    </script>

    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    @*Script below for the datepicker was found here: https://www.youtube.com/watch?v=Yuo2XX5_rYo*@

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(function () {
            $("#startdatepicker").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                //yearRange: "-0:+2",
                showOn: "both",
                buttonText: "Select",
                showButtonPanel: true

            });
        })
        $(function () {
            $("#enddatepicker").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                //yearRange: "-0:+2",
                showOn: "both",
                buttonText: "Select",
                showButtonPanel: true
            });
        })
    </script>
    <script>
        function DateFilter() {
            var startDateObject = $('#startdatepicker').datepicker('getDate');
            var startDate = $.datepicker.formatDate('yy/mm/dd', startDateObject);
            var endDateObject = $('#enddatepicker').datepicker('getDate');
            var endDate = $.datepicker.formatDate('yy/mm/dd', endDateObject);
            var input = document.getElementById("eventNameFilter");
            var searchString = input.value;
            var countryval = $("#event-filter-country option:selected").val(); //val is set to the text value of the dropdown.;

            var cityval = $("#event-filter-city option:selected").val(); //val is set to the text value of the dropdown.;

            var venueval = $("#event-filter-venue option:selected").val(); //val is set to the text value of the dropdown.;

            if (countryval == null) {
                $("#user-event-card").load("/Event/GetfilteredEvents?Event_Name=" + searchString + "&Event_Country=" + countryval + "&Search_Start_Date=" + startDate + "&Search_End_Date=" + endDate);
            }
            else {
                if (cityval == 0) {
                    $("#user-event-card").load("/Event/GetfilteredEvents?Event_Name=" + searchString + "&Event_Country=" + countryval + "&Search_Start_Date=" + startDate + "&Search_End_Date=" + endDate);
                } else {
                    if (cityval != 0) {
                        if (venueval == 0) {
                            $("#user-event-card").load("/Event/GetfilteredEvents?Event_Name=" + searchString + "&Event_Country=" + countryval + "&Event_City=" + cityval + "&Search_Start_Date=" + startDate + "&Search_End_Date=" + endDate);
                        } else {
                            $("#user-event-card").load("/Event/GetfilteredEvents?Event_Name=" + searchString + "&Event_Country=" + countryval + "&Event_City=" + cityval + "&Event_Venue=" + venueval + "&Search_Start_Date=" + startDate + "&Search_End_Date=" + endDate);
                        }
                    }
                }
            }
        }

        $('#startdatepicker').change(function (e) {
            var startDateObject = $('#startdatepicker').datepicker('getDate');
            DateFilter();
            $("#enddatepicker").datepicker("option", "minDate", startDateObject);
        });

        $('#enddatepicker').change(function (e) {
            var endDateObject = $('#enddatepicker').datepicker('getDate');
            DateFilter();
            $("#startdatepicker").datepicker("option", "maxDate", endDateObject);

        });</script>

    <script>

        $().ready(function () {
            $('#event-filter-country').change(function () {
                if ($("#event-filter-country option:selected").text() != "- Select A Country -") {
                    $('#event-filter-city').each(function () {
                        if ($(this).attr('disabled')) {
                            $(this).removeAttr('disabled');
                        }
                    });
                }
                else if ($("#event-filter-country option:selected").text() == "- Select A Country -") {
                    $('#event-filter-city').each(function () {
                        $(this).attr({
                            'disabled': 'disabled'
                        });
                    });
                    $('#event-filter-venue').each(function () {
                        $(this).attr({
                            'disabled': 'disabled'
                        });
                    });
                }
            });
        });

        $().ready(function () {
            DisableDropDowns();
        });
        function DisableDropDowns() {
            $('#event-filter-venue').each(function () {
                $(this).attr({
                    'disabled': 'disabled'
                });
            }); $('#event-filter-city').each(function () {
                $(this).attr({
                    'disabled': 'disabled'
                });
            });
        };

        $('#event-filter-city').change(function () {
            if ($("#event-filter-city option:selected").val() != 0) {
                $('#event-filter-venue').each(function () {
                    if ($(this).attr('disabled')) {
                        $(this).removeAttr('disabled');
                    }
                });
            }
            else if ($("#event-filter-city option:selected").val() == 0) {
                $('#event-filter-venue').each(function () {
                    $(this).attr({
                        'disabled': 'disabled'
                    });
                });
            }
        });



    </script>

}