@model IEnumerable<Tracker.Data.tbl_events>

@{
    ViewBag.Title = "GetEvents";
}

<h2>GetEvents</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Event_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event_Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Upcoming)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Event_Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Event_Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Event_Location)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Upcoming)
    </td>

    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Event_ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.Event_ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Event_ID })
    </td>
</tr>
}

</table>
