@model Tracker.Data.tbl_events
@using Microsoft.AspNet.Identity

<link href="~/Content/StyleSheet.css" rel="stylesheet" />
<body class="event-lineup-body">
    @{
        ViewBag.Title = "GetEventDetails";
    }
    <div class="body-content">
        <div class="container" id="Event-Details-Actions" style="padding: 0 0 2vh 0; margin: 0; width: 100%">
            <div class="container" id="event-details-previous-page" style="float:left; padding: 0; margin: 0;; width: 25%">
                @Html.ActionLink("Back to previous page", null, null, null, new { href = Request.UrlReferrer })
            </div>
            <div class="container" id="event-details-previous-page" style="float:right; padding: 0; margin: 0; text-align: right; width: 25%">
                @if ((System.Web.HttpContext.Current.User != null) && System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                    if (User.IsInRole("Admin"))
                        {@Html.ActionLink("Edit", "../Admin/EventEdit", new { Event_ID = Model.Event_ID, Country_ID = Model.tbl_venues.tbl_cities.tbl_countries.C_Iso, City_ID = Model.tbl_venues.tbl_cities.City_ID }) <text> | </text>}

                        {
                if (((IList<string>
                    )ViewBag.MyEvents).Contains(Model.Event_ID.ToString()))
                    {
                        @Html.ActionLink("Remove from my events", "../Event/DeleteFromUserHistory", new { History_ID = Model.tbl_eventhistory.Where(x => x.Event_ID == Model.Event_ID && x.User_ID == User.Identity.GetUserId()).Select(x => x.History_ID).FirstOrDefault() })
                    }
                else
                    {
                        @Html.ActionLink("Add to my Events", "../Event/AddToUser", new { Event_ID = Model.Event_ID })}
                        }
                    }
                </div>
        </div>

        <div class="event-jumbotron" id="event-jumbotron" align="left">
            <div class="card" id="event-card">
                <div class="col-sm-8 col-md-4 mmt-2" id="artist-count-image-tile">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="border-radius: 20px;">
                            <div class="event-details-image" id="home-top-seen-card">
                                @if (Model.tbl_eventImages.Any())
                                    {
                                    <img class="event-details-image" src="@Url.Action("EventImageIndex", "File", new { File_ID = Model.tbl_eventImages.First(f => f.Event_ID == Model.Event_ID).File_ID })" />
                                    }
                                else
                                    {
                                    <img class="event-details-image" src="@Url.Content("~/Content/images/default_image.jpg")" />
                                    }
                                <h3 class="event-details-text">
                                    <span class="overlay-span" id="top-line-span">@Model.Event_Name - @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.Event_Date))</span><br />
                                    <span class="overlay-span" id="second-line-span">

                                        <a href="@Url.Action("Redirect", "Venue", new { V_Name = Model.tbl_venues.V_Name, V_StreetAddress = Model.tbl_venues.V_StreetAddress, V_City = Model.tbl_venues.tbl_cities.C_Name })" target="_blank"> @Model.tbl_venues.V_Name, @Model.tbl_venues.tbl_cities.C_Name, @Model.tbl_venues.tbl_cities.tbl_countries.C_Name </a>
                                    </span>
                                </h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br />
        
        <h1 class="center-h1">Lineup:</h1>

        <div class="jumbotron" id="index-jumbo" align="center">
            @if (Model.tbl_eventlineup.Any())
                {
                foreach (var item in Model.tbl_eventlineup.OrderBy(i => i.tbl_artists.Artist_Name))
                    {
                    <div class="col-sm-8 col-md-4 mmt-2" id="lineup-image-tile">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" style="border-radius: 20px;">
                                <a href="@Url.Action("GetArtistDetails", "Artist", new { Artist_ID = item.Artist_ID })">

                                    <div class="event-details-image" id="home-top-seen-card">

                                        @if (item.tbl_artists.tbl_artistImages.Any())
                                            {
                                            <dd>
                                                <img class="profile-image" src="@Url.Action("Index", "File", new { File_ID = item.tbl_artists.tbl_artistImages.First(f => f.Artist_ID == item.Artist_ID).File_ID })" />
                                            </dd>
                                            }
                                        else
                                            {
                                            <img class="profile-image" src="@Url.Content("~/Content/images/default-profile.jpeg")" />
                                            }
                                        <h3 class="lineup-text">
                                            <span class="overlay-span" id="top-line-span">@item.tbl_artists.Artist_Name</span><br />
                                            <span class="overlay-span" id="second-line-span">
                                            </span>
                                        </h3>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    }
                }
            else
                {
                <h2>Lineup not added yet...</h2>
                }
        </div>
    </div>
</body>
<style>

    .count-artist-image {
        display: inline-block;
        width: 100%;
        height: 100%;
        margin: 0px;
        border: 3px solid #1f1f1f;
        border-radius: 20px;
        background-position: center center;
        overflow: hidden;
        object-fit: cover;
        background-size: cover;
    }

    .list-group-item {
        padding: 0%;
        height: 100%;
        width: inherit;
    }

    .lineup-image {
        height: 100%;
        position: relative;
        width: 100%;
        padding: 0% 0% 0% 0%;
    }

    #lineup-image-tile {
        height: 25%;
        display: inline-block;
        max-width: 20%;
        min-width: 20%;
        padding: 0% 0% 0% 0%;
    }

    #index-jumbo {
        width: 100%;
        display: inline-block;
        height: auto;
        overflow: visible;
        background-color: inherit;
    }

    #index-artist-count-body {
        height: 100%;
        width: 100%;
        padding: 0% 0% 0% 0%;
    }

    .lineup-text {
        position: absolute;
        top: 60%;
        width: 100%;
        text-align: left;
        font-size: 1.4em;
        font-size-adjust: inherit;
        padding-left: 0;
    }

    .overlay-span {
        padding: 0% 0% 0% 2%;
        width: 100%
    }

    .list-group-item, span {
        letter-spacing: -1px;
        background: #000000; /* fallback color */
        opacity: 0.8;
        color: white;
        height: 100%;
        width: 100%;
        position: inherit;
        display: inline-block;
        margin: 0px;
        background-position: center center;
        overflow: hidden;
        object-fit: cover;
        background-size: cover;
    }

    #top-line-span {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: flex; /*added*/
        flex-direction: inherit; /*added*/
        overflow: hidden;
        display: inline-block;
        margin: 0px;
        background-position: center center;
        overflow: hidden;
        object-fit: cover;
        background-size: cover;
    }

    #second-line-span {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        overflow: hidden;
        display: flex; /*added*/
        flex-direction: inherit; /*added*/
    }

    .event-lineup-body {
        height: fit-content;
    }
</style>