@model IEnumerable<Tracker.Data.tbl_events>
<link href="~/Content/StyleSheet.css" rel="stylesheet" />
<body style="width:100%">
    <div class="grid-container" id="user-event-grid">
        @foreach (var item in Model@*.Where(x => x.Event_Date > System.DateTime.Now)*@.OrderBy(x => x.Event_Date))
            {
            <div class="grid-item" style="height: 50vh; ">
                <div class="card" id="event-tile-card">
                    <a href="@Url.Action("GetEventDetails", "Event", new { Event_ID = item.Event_ID })">
                        <div class="card-body">
                            <div class="event-index-image" id="home-top-seen-card">
                                @if (item.tbl_eventImages.Any())
                                    {
                                    <img class="event-details-image" id="event-index-image" src="@Url.Action("EventImageIndex", "File", new { File_ID = item.tbl_eventImages.First(f => f.Event_ID == item.Event_ID).File_ID })" />
                                    }
                                else
                                    {
                                    <img class="event-details-image" id="event-index-image" src="@Url.Content("~/Content/images/default_image.jpg")" />
                                    }
                            </div>
                            <ul class="list-group list-group-flush" id="event-index-details">
                                <li class="list-group-item" id="event-index-name"><img id="event-index-location-pin" src="~/Content/images/name-icon.png" /><b>@Html.DisplayFor(modelItem => item.Event_Name)</b></li>
                                <li class="list-group-item" id="event-index-location">
                                    <span><img id="event-index-location-pin" src="~/Content/images/location-pin.png" />@item.tbl_venues.V_Name,</span><br /><span id="second-line-span">@item.tbl_venues.tbl_cities.C_Name, @item.tbl_venues.tbl_cities.tbl_countries.C_Name</span>
                                </li>
                                <li class="list-group-item" id="event-index-date"> <span><img id="event-index-location-pin" src="~/Content/images/calendar-icon.png" />@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Event_Date))</span></li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>

            }
        </div>
    @if (Model.Any()) { }
    else
        {
        <h1 class="center-h1" style="text-align: center"> No Events Found</h1>
        }
</body>