@using Microsoft.AspNet.Identity
@model IEnumerable<Tracker.Data.tbl_events>
<link href="~/Content/StyleSheet.css" rel="stylesheet" />
<body style="width:100%">
    <div class="grid-container" id="event-grid">
        @foreach (var item in Model@*.Where(x => x.Event_Date > System.DateTime.Now)*@.OrderBy(x => x.Event_Date))
{
        <div class="grid-item" id="event-grid-item">
            <div class="card" id="event-tile-card">
                <a href="@Url.Action("GetEventDetails", "Event", new { Event_ID = item.Event_ID })">
                    <div class="card-body">
                        <div class="event-index-image" id="home-top-seen-card">
                            @if (item.tbl_eventImages.Any())
                        {
                            <img class="event-details-image" id="event-index-image" src="@Url.Action("EventImageIndex", "File", new { File_ID = item.tbl_eventImages.First(f => f.Event_ID == item.Event_ID).File_ID })" />
                        }
                    else
                        {
                            <img class="event-details-image" id="event-index-image" src="@Url.Content("~/Content/images/default_image.jpg")" />
                        }
                        </div>
                        <ul class="list-group list-group-flush" id="event-index-details">
                            <li class="list-group-item" id="event-index-name"><img id="event-index-location-pin" src="~/Content/images/name-icon.png" /><b>@Html.DisplayFor(modelItem => item.Event_Name)</b></li>
                            <li class="list-group-item" id="event-index-location">
                                <span><img id="event-index-location-pin" src="~/Content/images/location-pin.png" />@item.tbl_venues.V_Name,</span><br /><span id="second-line-span">@item.tbl_venues.tbl_cities.C_Name, @item.tbl_venues.tbl_cities.tbl_countries.C_Name</span>
                            </li>
                            <li class="list-group-item" id="event-index-date"> <span><img id="event-index-location-pin" src="~/Content/images/calendar-icon.png" />@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Event_Date))</span></li>
                            <li class="list-group-item" id="event-index-addToUser">

                                @if ((System.Web.HttpContext.Current.User != null) && System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                            {@*Checks to see if there is a current user*@
                            if (((IList<string>)ViewBag.MyEvents).Contains(item.Event_ID.ToString()))
                                {
                            @Html.ActionLink("Remove from my events", "../Event/DeleteFromUserHistory", new { History_ID = item.tbl_eventhistory.Where(x => x.Event_ID == item.Event_ID && x.User_ID == User.Identity.GetUserId()).Select(x => x.History_ID).FirstOrDefault() })
                                }
                            else
                                {
                            @Html.ActionLink("Add to my Events", "../Event/AddToUser", new { Event_ID = item.Event_ID })}
                            }
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </div>

}
    </div>
    @if (Model.Any()) { }
    else
        {
    <h1 class="center-h1" style="text-align: center"> No Events Found</h1>
        }
</body>