@using Microsoft.AspNet.Identity
@using Tracker.Data
@model IEnumerable<Tracker.Data.tbl_eventlineup>
<link href="~/Content/Stylesheet/StyleSheet.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = Request.QueryString["Event_Name"];
}

<h1>Lineup for @ViewBag.Title</h1>

<table class="table" id="LineupTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tbl_artists.Artist_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_artists.Artist_Name)
        </th>
        <th>
            Seen?
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.OrderBy(i => i.tbl_artists.Artist_Name))

    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_artists.Artist_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_artists.Artist_Name)
            </td>
            <td>
                @if (((IList<string>)ViewBag.UsersSeenOnLineup).Contains(item.Artist_ID.ToString()))
                {
                    <input id="Checkbox1" type="checkbox" checked="checked" disabled="disabled" />
                }
                else
                {
                    <input id="Checkbox1" type="checkbox" disabled="disabled" />
                }
            </td>
            <td align="right">
                @if (((IList<string>)ViewBag.UsersSeenOnLineup).Contains(item.Artist_ID.ToString()))
                {
                    @Html.ActionLink("Mark as Unseen", "../Artist/DeleteFromSeenArtists", new { Event_ID = item.Event_ID, Lineup_ID = item.Lineup_ID, Artist_ID = item.Artist_ID, User_ID = Convert.ToString(System.Web.HttpContext.Current.User.Identity.GetUserId()).GetHashCode() })}
                else
                {
                    @Html.ActionLink("Mark as Seen", "../Artist/AddToArtistHistory", new { Event_Name = item.tbl_events.Event_Name, EventLineup_ID = item.Lineup_ID, Artist_ID = item.Artist_ID, User_ID = Convert.ToString(System.Web.HttpContext.Current.User.Identity.GetUserId()).GetHashCode(), Event_ID = Request.QueryString["Event_ID"].ToString() })
                } |
                @Html.ActionLink("Details", "GetLineupDetails", new { Lineup_ID = item.Lineup_ID }) |
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Back to previous page", null, null, null, new { href = Request.UrlReferrer })
</p>